.container{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 50px;
}
.row1{
    color: white;
    overflow: hidden; /* Prevent y-axis scroll */
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
}
.row1_div{
    margin-top: 25px;
    display: flex;
    gap: 20px;
    overflow-x: auto; /* Allow horizontal scrolling */
    overflow-y: hidden; /* Prevent vertical scrolling */
    width: 100%;
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    height: 220px;
    flex-shrink: 0;
}

.row1_div *{
    height: 220px;
    width: 150px;
    flex-shrink: 0;
}



.row2{
    color: white;
    overflow: hidden; /* Prevent y-axis scroll */
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
}
.row2_div{
    margin-top: 25px;
    display: flex;
    gap: 20px;
    overflow-x: auto; /* Allow horizontal scrolling */
    overflow-y: hidden; /* Prevent vertical scrolling */
    width: 100%;
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    
}
.row2_div *{
    height: 130px;
    width: 230px;
    flex-shrink: 0;
}
.row2_div {
    height: 130px;
    flex-shrink: 0;
}