.home_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    background-color: black;
    gap: 40px;
    padding: 30px 80px;
}

/* Large Desktops */
@media screen and (min-width: 1400px) {
    .home_grid {
        grid-template-columns: repeat(6, 1fr);
    }
}

/* Desktops and Laptops */
@media screen and (max-width: 1399px) and (min-width: 1200px) {
    .home_grid {
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;
        padding: 25px 60px;
    }
}

/* Tablets and Smaller Laptops */
@media screen and (max-width: 1199px) and (min-width: 992px) {
    .home_grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
        padding: 20px 40px;
    }
}

/* Large Tablets */
@media screen and (max-width: 991px) and (min-width: 768px) {
    .home_grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px 30px;
    }
}

/* Tablets and Large Smartphones */
@media screen and (max-width: 767px) and (min-width: 576px) {
    .home_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 15px 20px;
    }
}

/* Small Smartphones */
@media screen and (max-width: 575px) {
    .home_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 25px  5px 0 5px;
    }
}