.container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto;
    background-color: black;
   
}

.row1 {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
}

.col1 {
    flex: 1;
    text-align: center;
}

.bkImg {
    position: relative;
}

.bkImg img {
    width: 100%;
    max-width: 100%;
    padding: 10px;
}

.imgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, transparent 30%),
                linear-gradient(to bottom, rgb(0, 0, 0) 0%, transparent 30%);
    pointer-events: none;
}

.col2 {
    flex: 1;
    background-position: center;
    background-size: cover;
    position: relative;
    height: auto;
    border-radius: 20px;
    color: white;
    padding: 20px;
}

.title {
    font-size: 28px;
    font-weight: 700;
}

.director_name {
    font-size: 12px;
}

.detail {
    color: #FFFFFF99;
    margin-bottom: 7px;
}

.buttons {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.release_date {
    font-size: 14px;
}

.rating {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: #FFFFFF99;
}

@media (min-width: 768px) {
    .row1 {
        flex-direction: row;
    }

    .col1 {
        flex: 3;
    }

    .col2 {
        flex: 2;
    }

    .bkImg img {
        padding-left: 30px;
        padding-right: 30px;
    }

    .title {
        font-size: 35px;
    }

    .buttons {
        margin-top: 35px;
        margin-bottom: 35px;
        gap: 40px;
    }
}

@media (min-width: 1024px) {
    .container {
        height: 200vh;
        grid-template-rows: 90vh;
    }

    .col2 {
        height: 60%;
    }
}