.menuContainer {
    position: relative;
    display: inline-block;
  }
  
  .menuHeading {
    cursor: pointer;
    font-size: 16px;
  }
  
  .dropdownMenu {
    display: flex;
    position: absolute;
    top: 100%;
    right:50%;
    transform: translate(50%);
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    border-radius: 7px;
    height: 60vh;
    width: 32vw;
    gap: 20px;
  }
  
  .menuSection {
    margin-right: 20px;
    
  }
  
  .menuSection h4 {
    margin-bottom: 5px;
    font-size: 16px;
    color: #f5a623;
  }
  
  .menuSection ul {
    list-style-type: none;
    display: flex;
    flex-direction:column;
    padding: 0;
    margin: 0;
    height: 90%;
    flex-wrap: wrap;

  }
  
  .menuSection ul li {
    padding: 5px 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    padding-right: 40px;
    padding-left: 10px;
  }
  
  .menuSection ul li:hover {

    background-color:rgba(0, 0, 0, 0.1);
    border-radius: 5px;

  }
  